main {
  margin-bottom: 10px; /* Adjust the margin as needed */
  display: grid;
  grid-template-columns: 60% 30%; /* Adjust column widths as needed */
  gap: 0px; /* Adjust the gap between columns */
}