.search-form {
  text-align: center;
  margin-top: 20px;
}

.search-form input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.btnform {
  border: 1px solid rgb(198, 25, 51);
  background-color: #fff;
  color: rgb(198, 25, 51);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
  text-decoration: none;
  margin-bottom: 20px; /* Adjust the margin-bottom value as needed */
  height: auto;
}
.btnform:hover {
  background-color: rgb(198, 25, 51);
  color: #fff;
}


/* Styles for the continent page */
.continent_page ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Styles for list items */
  .continent_page li {
    margin-left: 0;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    text-align: center;
  }
  
  /* Styles for the continent names and images */
  .continent_page ul li a {
    text-decoration: none;
    text-align: center;
    color: #333;
    font-size: 22Zpx;
  }
  
  .continent_page ul li a img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
  }
  
  /* Styles for the destination title */
  .continent_title {
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-top: 50px;
  }
  
  /* Styles for the destination description */
  .continent_description {
    text-align: center;
    font-size: 30px;
    color: #666;
    margin-top: 10px;
    word-wrap: break-word; /* Allow automatic line wrapping */
  }