 
        .Vaccine_title {
            text-align: center;
            font-size: 30px;
            color: #333;
            margin-top: 50px;
        }
        
        /* Styles for the destination description */
        .vaccine_text {
            text-align: center;
            font-size: 30px;
            color: #666;
            margin-top: 10px;
            word-wrap: break-word; /* Allow automatic line wrapping */
        }

        .search-form {
        text-align: center;
        margin-top: 20px;
        }

        .search-form input[type="text"] {
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        }

        .search-form input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        }

        /* Style for the description initially hidden */
        .search_vaccine {
            text-align: center;
            font-size: 20px; 
            border-radius:20px;
            border: none;
            padding: auto;
        }

        .list_of_vaccine {
            text-align: center;
            font-size: 20px; 
        }
        /* Style for the button */
        .show-description-button1 {
            cursor: pointer;
        }

        /* Style for the checkbox */
        .show-description-checkbox {
            display: none;
        }

        /* When the checkbox is checked, show the hidden description */
        .show-description-checkbox:checked + .vaccine_description1 {
            display: block;
            text-align: left;
            align-items: right;
        }

        .show-all-button {
            cursor: pointer;
            border: none;
            padding: auto;
            align-items: right;
            font-size: 20px;
            cursor: pointer;
            border-radius: 10px;
            margin: auto; /* Add some spacing between buttons */
            display: block
        }
        /* styles of the vaccinename buttons that are clickable to view the description*/
        .show-description-button {
        text-align: left;
        border: none;
        padding: auto;
        align-items: right;
        font-size: 20px;
        cursor: pointer;
        border-radius: 10px;
        margin: auto; /* Add some spacing between buttons */
        display: block
        }
    

        /* styles of the vaccine descriptions in seach vaccine*/

        .vaccine_description1 {
        display: none;
        align-items: center;
        background-color: #ffffff;
        margin: auto;
        padding: 1rem 1rem;
        text-align: right;
        margin: 20px ; 
        width: 700px;
        Height: auto;
        border-radius:20px;
        }