/* CSS styles */
/* styles of the whole body of the page*/
body {
  background-color: #ffd7b5;
  overflow-x: scroll;
  width: 100%;
}

.topheader {
  align-items: center;
  background-color: #ffb38a;
  padding: 1rem 1rem;
  text-align: center;
  width: 100%;
  Height: 10px;
  display: flex;
  justify-content: space-between;
}

.rightpart_topheader{
  align-items: center;
  margin: auto;
  margin-right: 50px;
  text-align: center;
  width: 40%;
  Height: 10px;
  display: flex;
  justify-content: space-between;
}

.bottomheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: auto;
  padding: 1rem 1rem;
  text-align: center;
  width: 100%;
  Height: 40px;
}

/* styles of the news pops*/
.newscolumns {
  align-items: center;
  background-color: #ffb38a;
  margin: auto;
  padding: 1rem 1rem;
  text-align: center;
  margin: 20px ; 
  width: 400px;
  Height: 500px;
  float: left;
}

/* styles of the vaccinename buttons that are clickable to view the description*/
.show-description-button {
  text-align: center;
  border: none;
  padding: auto;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  margin: auto; /* Add some spacing between buttons */
  display: block
}


/* styles of the vaccine descriptions in seach vaccine*/

.vaccine_description {
  display: none;
  align-items: center;
  background-color: #ffffff;
  margin: auto;
  padding: 1rem 1rem;
  text-align: center;
  margin: 20px ; 
  width: auto;
  Height: auto;
  border-radius:20px;
}

/* styles for the container (.vaccinerecord) */
.vaccinerecord {
  background-color: #ffb38a;
  margin: auto;
  padding: 20px;
  text-align: left;
  margin: 20px;
  width: 90%;
  height: auto; /* Adjust height to "auto" to accommodate dynamic content */
  float: left;
}

/* styles for list items within the container */
.vaccinerecord ul {
  list-style-type: none; /* no list bullets */
  padding: 0;
  margin: auto;
}

.vaccinerecord ul li {
  background-color: #fff; /* White background color for list items */
  padding: 10px; /* Adjust spacing and padding automatically */
  border: 1px solid #ffb38a; /* Add a border around list items */
  margin-bottom: 10px; /* Add margin between list items */
  border-radius: 0px; /* Add rounded corners to list items */
  overflow: hidden; /* Ensure content doesn't overflow rounded corners */
}

/* the parts of the body (not the top or bottum headers)*/
.bodydiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* clickable link in topheader*/
.costumbutton1 {
text-align: center;
float: left;
border: none;
padding: auto;
font-size: 20px;
cursor: pointer;
border-radius: 10px;
margin: auto; /* Add some spacing between buttons */
}

/* clickable link in secound header*/
.costumbutton2, .costumbutton2_choosen {
text-align: center;
float: left;
border: none;
padding: auto;
font-size: 40px;
cursor: pointer;
border-radius: 10px;
margin: auto; 
}

/* Use on the button where you are currently */
.costumbutton2_choosen {
  background-color: #ffd7b5;
  cursor: none;
}

/* The logo fonts and size etc. This we might want to change! put oute own logo here maybe*/
.vaccimateLogo {
  text-align: center;
  float: left;
  border: none;
  padding: auto;
  font-size: 30px;
  margin-right: 80px; 
  margin-left: 80px; /* Add some spacing between buttons */
  font-size: 40px; 
  color: black; 
  font-family: Copperplate;
  cursor: pointer;
}

/* Image size*/
img{
  max-width: 80%;
} 

/* Change button style on hover */
.costumbutton1:hover {
  border-style: outset;
}
.costumbutton2:hover {
  border-style: outset;
}
.newscolumns:hover {
  border-style: outset;
}

/* Hyperlink decorations of*/
#GFG {
  text-decoration: none; 
  color : black;
}