/* CSS styles */
/* styles of the whole body of the page*/
body {
  background-color: #ffd7b5;
  position: fixed; 
  overflow-x: scroll;
  width: 100%;
}

.topheader {
  align-items: center;
  background-color: #ffb38a;
  padding: 1rem 1rem;
  text-align: center;
  width: 100%;
  Height: 10px;
  display: flex;
  justify-content: space-between;
}

.rightpart_topheader{
  align-items: center;
  margin: auto;
  margin-right: 50px;
  text-align: center;
  width: 40%;
  Height: 10px;
  display: flex;
  justify-content: space-between;
}

.bottomheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: auto;
  padding: 1rem 1rem;
  text-align: center;
  width: 100%;
  Height: 40px;
}

/* styles of the news pops*/
.newscolumns {
  align-items: center;
  background-color: #ffb38a;
  margin: auto;
  padding: 1rem 1rem;
  text-align: center;
  margin: 20px ; 
  width: 400px;
  Height: 500px;
  float: left;
}

/* the parts of the body (not the top or bottum headers)*/
.bodydiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


/* clickable link in topheader*/
.costumbutton1 {
text-align: center;
float: left;
border: none;
padding: auto;
font-size: 20px;
cursor: pointer;
border-radius: 10px;
margin: auto; /* Add some spacing between buttons */
}

/* clickable link in secound header*/
.costumbutton2, .costumbutton2_choosen {
text-align: center;
float: left;
border: none;
padding: auto;
font-size: 40px;
cursor: pointer;
border-radius: 10px;
margin: auto; 
}

/* Use on the button where you are currently */
.costumbutton2_choosen {
  background-color: #ffd7b5;
  cursor: none;
}

/* The logo fonts and size etc. This we might want to change! put oute own logo here maybe*/
.vaccimateLogo {
  text-align: center;
  float: left;
  border: none;
  padding: auto;
  font-size: 30px;
  margin-right: 80px; 
  margin-left: 80px; /* Add some spacing between buttons */
  font-size: 40px; 
  color: black; 
  font-family: Copperplate;
  cursor: pointer;
}

/* Image size*/
img{
  max-width: 80%;
} 

/* Change button style on hover */
.costumbutton1:hover {
  border-style: outset;
}
.costumbutton2:hover {
  border-style: outset;
}
.newscolumns:hover {
  border-style: outset;
}

/* Hyperlink decorations of*/
#GFG {
  text-decoration: none; 
  color : black;
}