/* CSS styles */
/* styles of the whole body of the page*/
body {
  background-color: #f3f3f3;
  overflow-x: scroll;
  width: 100%;
  font-family: "Zapf Dingbats";
}

header{
  margin-right: 15px;
  margin-top: 25px;

}
header nav a{
  text-decoration: none;
  margin-right: 5px;
  color: black ;
  font-weight: bold;
  padding: 10px;
}
header nav a:hover{
  background-color: rgb(198, 25, 51);
  border-radius: 10px;
  color: white;
  transition: 0.2s ease-in;

}

.topheader {
  align-items: center;
  padding: 1rem 1rem;
  text-align: center;
  Height: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.rightpart_topheader{
  align-items: center;
  margin: auto;
  margin-right: 50px;
  text-align: center;
  width: 40%;
  Height: 10px;
  display: flex;
  justify-content: space-between;
}

.bottomheader{
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /*padding: 2% 0 2% 0;*/
  text-align: center;
  border-radius: 10px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 96%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottomheader h1{
  margin-top: 30px;
  background: none;
  display: inline-block;
  margin-left: 25px;
  color: #302c43 ;
  margin-bottom: 0px;
  float: left;
  font-family: "Zapf Dingbats";
  font-size: 50px;
}

.bottomheader p{
  background: none;
  display: inline-block;
  color: #999;
  margin-left: 25px;
  margin-top: 0;
}

.bottomheader img{
  width: 300px;
  float: right;
  margin-top: -10px;
  margin-right: -25px;
}

/* styles of the news pops*/
.newscolumns, .newscolumns_Wide, .Body_fullscreen{
  align-items: center;
  background-color: white;
  margin: auto;
  padding: 1rem 1rem;
  text-align: center;
  margin: 20px ; 
  width: 400px;
  Height: 500px;
  float: left;
  border-radius: 10px;
}

.newscolumns_Wide{
  width: 1100px;
}

#About_us_img{
  width: 500px;
}

.Body_fullscreen{
  display: flex;
  justify-content: space-between;
}
section{

  order: 1;
  background-color: white;
  border-radius: 10px;
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-bottom: 30px;
  padding-bottom: 15px;

}

section img{
  margin: 10px;
  margin-top: 18px;
  margin-left: 18px;
  width: 400px;

}

section h3{
  background: none;
  margin: 10px;
  text-align: center;

}
section p{
  background: none;
  margin: 10px;
  color: #999;
  text-align: justify;

}
section a{
  background: none;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  margin: 10px;
  color: black;
  font-size: 15px;

}
section a:hover{
  color: rgb(198, 25, 51);

}
section:hover{
  box-shadow: 3px 1px 19px black;

}


/* styles of the vaccinename buttons that are clickable to view the description*/
.show-description-button {
  text-align: center;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  margin: auto; /* Add some spacing between buttons */
  display: block
}



/* styles of the vaccine descriptions in seach vaccine*/

.vaccine_description {
  display: none;
  align-items: center;
  background-color: #ffffff;
  margin: auto;
  padding: 1rem 1rem;
  text-align: center;
  margin: 20px ; 
  width: 700px;
  Height: auto;
  border-radius:20px;
}

.upcoming_refill_container {
  background-color: #ffffff;
  padding: 20px;
  text-align: left;
  margin: 20px;
  width: 100%; /* Adjust the width as needed */
  float: none;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

.upcoming_refill_container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.upcoming_refill_container .refill-list {
  list-style: none;
  padding: 0;
}

.upcoming_refill_container .vaccine-info {
  margin-bottom: 10px;
  font-size: 16px;
}

/* styles for the container (.vaccinerecord) */
.vaccinerecord {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  text-align: left;
  margin: 20px;

  height: auto; /* Set a fixed height or adjust as needed */
  float: none;
  border-radius: 20px;
  width: 93%;
}

.vaccinerecord:hover {
  box-shadow: none;
}


/* styles for list items within the container */
.vaccinerecord ul {
  list-style-type: none; /* no list bullets */
  padding: 0;
  margin: auto;
}

.vaccinerecord ul li {
  background-color: #f3f3f3; /* White background color for list items */
  padding: 10px; /* Adjust spacing and padding automatically */
  border: 1px solid #ffffff; /* Add a border around list items */
  margin-bottom: 10px; /* Add margin between list items */
  border-radius: 20px; /* Add rounded corners to list items */
  overflow: hidden; /* Ensure content doesn't overflow rounded corners */
}

/* the parts of the body (not the top or bottum headers)*/
.bodydiv {
  display: flex;
  justify-content: space-between;
  width: 99%;
}

/* clickable link in topheader*/
.costumbutton1, .costumbutton1_choosen{

font-size: 17px;
cursor: pointer;

}

.costumbutton1_choosen {
  background-color: white;
  cursor: default;
}

/* clickable link in secound header*/
.costumbutton2, .costumbutton2_choosen {
text-align: center;
float: left;
border: none;
padding: auto;
font-size: 40px;
cursor: pointer;
border-radius: 10px;
margin: auto; 
}

/* Use on the button where you are currently */
.costumbutton2_choosen {
  background-color: #f3f3f3;
  cursor: default;
}

/* The logo fonts and size etc. This we might want to change! put oute own logo here maybe*/
.vaccimateLogo {
  text-align: center;
  float: left;
  border: none;
  color: black;
  cursor: pointer;
  width: 25%;

}

.vaccimateLogo img{
  width: 100%;
}

/* Change button style on hover */

.costumbutton2:hover {
  border-style: outset;
}
.newscolumns:hover {
  border-style: outset;
}

/* Hyperlink decorations of*/
#GFG {
  text-decoration: none; 
  color : black;
}

/* Containers for the "register vaccine" tab in the caregivers my page */
.registervaccinecontainer {
  max-width: 600px;
  margin: 50px auto; /* Add margin to the top to move it down */
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center; /* Center align the container */
  /* position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.register-vaccine-title {
  text-align: center;
}

.register-vaccine-label {
  font-weight: bold;
}

.register-vaccine-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-vaccine-button {
    background-color: color(display-p3 0.7355 0.1801 0.2237);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    text-decoration: none;
    margin-bottom: 20px; /* Adjust the margin-bottom value as needed */
    height: auto;
  }
.register-vaccine-button2 {
  border: 1px solid rgb(198, 25, 51);
  background-color: #fff;
  color: rgb(198, 25, 51);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
  text-decoration: none;
  margin-bottom: 20px; /* Adjust the margin-bottom value as needed */
  height: auto;
}

.register-vaccine-button:hover {
  background-color: color(display-p3 0.61 0.198 0.23);
}

.register-vaccine-button2:hover {
  background-color: rgb(198, 25, 51);
  color: #fff;
}

/* styles of the privacy policy*/
.privacy_policy{
  background-color: #fff;
  padding: 1rem 1rem;
  text-align: left;
  margin: 20px ; 
  width:1000px;
  Height: 1600px;
  margin: 0 auto;
}

.footwrap img{
  width: 25%;
}

.contact-box {
  width: 100%; /* Set width to 100% for responsiveness */
  height: 50%;
  padding: 40px;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  float: right;
  text-align: left;
}

.dropdown{
  display: inline-block;
}

/* Style for the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left: -36px;
}

/* Style for links in the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 0;
}

/* Change color of links on hover */
.dropdown-content a:hover {
  background-color: rgb(198, 25, 51);
  color: white;
  transition: 0.2s ease-in;
  border-radius: 0px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.triangle {
  font-size: 0.8em;
  vertical-align: middle;
  margin-left: 5px;
}

