
#GFG2 {
    text-decoration: none;
    color : black;
}

.vaccimateLogo2 {
    text-decoration: none;
    text-align: center;
    float: left;
    border: none;
    padding: auto;
    font-size: 30px;
    margin-right: 80px;
    margin-left: 80px; /* Add some spacing between buttons */
    font-size: 40px;
    color: black;
    font-family: Copperplate;
    cursor: pointer;
}