
.loginbox {
    padding: 0 15% 15%;
    background-color: aliceblue;
    margin-top: 5%;
    margin-left: 30%;
    display: inline-block;
}

.loginbox h1{
    padding: 0 0 15% 0;
    text-align: center;

}

#k{
    margin-bottom: 10%;
}

#submit{
    margin-left: 40%;
}

.formbtn{
    margin-top: 50px;
}

.linkLogin{
    background-color: rgb(198, 25, 51);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    text-decoration: none;
    margin-bottom: 20px; /* Adjust the margin-bottom value as needed */
}

.linkLogin:hover {
  /*background-color: rgb(198, 25, 51);  Button background color on hover */
  border: 2px solid #0056b3; /* Border color on hover 
  /*color: white; Text color on hover */
  background-color: rgb(198, 25, 51);
}
